input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 10%;
    background-color: rgba(0,0,0,0.7);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

#submit1 {
    position: fixed;
    left: 25%;
}

#submit2 {
    position: fixed;
    left: 45%;
}

#submit3 {
    position: fixed;
    left: 65%;
}

input[type=submit]:hover {
    background-color: white;
    color: black;
}

form {
    overflow: hidden;
}